/** CSS personel **/

.fiche {
  background-color: grey;
  margin-left: 200px;
  margin-right: 200px;
  padding: 100px;
  border-radius: 10px;
}

label {
  padding-right: 10px;
}

.mainTitle {
  color: blue;
}

.nom {
  color: blue;
}

.tableConsultation {
  width: 100%;
}

td {
  padding: 5px;
}

th {
  background-color: blue;
  color: white;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: white;
}


/** CSS de base **/
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
